/* Estilo para a linha de produtos */
.Products-row {
    text-align: center; /* Centraliza os produtos na linha */
    max-width: 1700px; /* Largura máxima da linha */
    margin: 0 auto; /* Centraliza a linha na página */
}

.Products-row a {
    text-decoration: none;
    color: black;
}

.Products-row a:hover {
    text-decoration: none;
}

/* Estilo para cada produto */
.Products {
    width: calc(33.33% - 60px); /* Calcula a largura para ocupar cerca de um terço da largura disponível */
    background-color: #fff; /* Cor de fundo do produto */
    border: 1px solid #ddd; /* Borda ao redor do produto */
    padding: 10px; /* Espaçamento interno do produto */
    margin-bottom: 20px; /* Espaçamento entre os produtos */
    text-align: center; /* Centraliza o conteúdo do produto */
    display: inline-block; /* Exibe os produtos lado a lado */
    vertical-align: top; /* Alinha os produtos pela parte superior */
    box-sizing: border-box; /* Mantém a largura incluindo padding e borda */
}

.Products img {
    max-width: 100%; /* Garante que a imagem do produto não exceda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

.Price {
    font-weight: bold; /* Deixa o preço em negrito */
    color: #4caf50; /* Cor verde para o preço */
}

.Condition {
    font-weight: bold; /* Deixa o preço em negrito */
}

/* Estilo para o título "Hot Deals" */
.section-title {
    font-size: 60px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o título */
    margin-bottom: 5px; /* Espaçamento abaixo do título */
    color: #333; /* Cor do título */
}

/* Estilo para a linha sob o título */
.underline {
    height: 2px; /* Altura da linha */
    width: 200px; /* Largura da linha */
    background-color: #336b99; /* Cor da linha */
    margin: 0 auto 20px auto; /* Margem acima e abaixo da linha */
}