header {
    background-color: #038cfc;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer {
    background-color: #038cfc;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.Price {
    font-weight: bold; /* Deixa o preço em negrito */
    color: #4caf50; /* Cor verde para o preço */
}

.Condition {
    font-weight: bold; /* Deixa o preço em negrito */
}